<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  export let outline = false;
  export let color = 'secondary';
  export let size = null;
  export let block = false;
  export let active = false;
  export let disabled;
  export let class = '';

  // [svelte-upgrade suggestion]
  // review these functions and remove unnecessary 'export' keywords
  export function onClick(e) {
            if (disabled) {
                e.preventDefault();
                return;
            } else {
                dispatch('click', e);
            }
        }
</script>

<button
  class="btn btn{outline ? '-outline' : ''}-{color}{size ? ` btn-${size}` : ''}{block ? ' btn-block' : ''}{ active ? ' active' : ''}{ disabled ? ' disabled' : ''} {class}"
  on:click="{onClick}">
  <slot></slot>
</button>