
{#if block}
  <a href='{adjustedTo}' on:click='navigate(event, to)' style="display: block">
    <slot></slot>
  </a>
{:elseif blockCenter}
  <a href='{adjustedTo}' on:click='navigate(event, to)' style="display: block;text-align: center">
    <slot></slot>
  </a>
{:else}
  <a href='{adjustedTo}' on:click='navigate(event, to)'><slot></slot></a>
{/if}

<script>
import history from '../services/whistory';

export default {
  data() {
    return {
      to: '/'
    };
  },

  computed: {
    adjustedTo: ({ to }) => process.env.APP_BASE_PATH + to,
  },

  methods: {
    navigate(evt, path) {
      if (evt && evt.preventDefault) {
        evt.preventDefault();
      }  
      if (path) history.push(path);
    }
  }
}
</script>

<style type="text/css">
  /*a{
    color: #414042; 
    text-decoration: none;
  }*/
</style>