<script>
	// [svelte-upgrade suggestion]
	// manually refactor all references to __this
	const __this = {
		get: () => ({ width, completed, color, running, minimum, maximum, settleTime, intervalTime, stepSizes })
	};

	function getIncrement(number) {
	if (number >= 0 && number < 0.2) return 0.1
	else if (number >= 0.2 && number < 0.5) return 0.04
	else if (number >= 0.5 && number < 0.8) return 0.02
	else if (number >= 0.8 && number < 0.99) return 0.005
	return 0
}

let updater

export let width;
	export let completed;
	export let color;
	export let running;
	export let minimum = 0.08;
	export let maximum = 0.994;
	export let settleTime = 700;
	export let intervalTime = 700;
	export let stepSizes = [ 0, 0.005, 0.01, 0.02 ];

	// [svelte-upgrade suggestion]
	// review these functions and remove unnecessary 'export' keywords
	export function start() {
	reset()
	continue()
}

	export function reset() {
	const startingWidth = __this.get().minimum
	width = startingWidth, running = true
}

	export function continue() {
	const maximumWidth = __this.get().maximum
	const intervalTime = __this.get().intervalTime

	if (updater) {
		// prevent multiple intervals by clearing before making
		clearInterval(updater)
	}
	running = true
	updater = setInterval(() => {
		let value = __this.get().width

		const stepSizes = __this.get().stepSizes
		const randomStep = stepSizes[Math.floor(Math.random() * stepSizes.length)]
		const step = getIncrement(value) + randomStep
		if (value < maximumWidth) {
			value = value + step
		}
		if (value > maximumWidth) {
			value = maximumWidth
			stop()
		}
		width = value
	}, intervalTime)
}

	export function stop() {
	if (updater) {
		clearInterval(updater)
	}
}

	export function complete() {
	clearInterval(updater)
	width = 1, running = false
	const settleTime = __this.get().settleTime
	setTimeout(() => {
		completed = true
		setTimeout(() => {
			completed = false, width = 0
		}, settleTime)
	}, settleTime)
}

	export let widthPercent;
	$: {
	widthPercent = width * 100 || undefined
}

	export let barClass;
	$: {
	barClass = completed ? 'svelte-progress-bar-hiding' : ''
}

	export let barColorStyle;
	$: {
	barColorStyle = color && `background-color: ${color};` || ''
}

	export let leaderColorStyle;
	$: {
	// the box shadow of the leader bar uses `color` to set its shadow color
	leaderColorStyle = color && `background-color: ${color}; color: ${color};` || ''
}
</script>

{#if width && widthPercent}
<div class="svelte-progress-bar {barClass}" style="width: {widthPercent}%; {barColorStyle}">
	{#if running}
	<div class="svelte-progress-bar-leader" style="{leaderColorStyle}"></div>
	{/if}
</div>
{/if}



<style>
.svelte-progress-bar {
	position: fixed;
	top: 0;
	left: 0;
	height: 2px;
	transition: width 0.16s ease-in-out;
	z-index: 1;
}
.svelte-progress-bar-hiding {
	transition: top 0.16s ease;
	top: -8px;
}
.svelte-progress-bar-leader {
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 100px;
	transform: rotate(2.5deg) translate(0px, -4px);
	box-shadow: 0 0 8px;
	z-index: 2;
}
</style>