<script>
  import { onDestroy, onMount } from 'svelte';

  // [svelte-upgrade suggestion]
  // manually refactor all references to __this
  const __this = {
    get: () => ({ value, options })
  };

  export let sparkline;

  export let value = null;
  export let options = {
    type: 'pie',
    sliceColors: ['#f7af3e', '#404652']
  };

  onMount(() => {
    const element = sparkline;
    __this.observe('value', value => {
      load(element, value, __this.get().options);
    });
    load(element, value, options);
  });

  // [svelte-upgrade suggestion]
  // review these functions and remove unnecessary 'export' keywords
  export function load(element, value, options) {
    window.$(element).sparkline(value, options);
  }

  onDestroy(() => {
    window.$(sparkline).sparkline('destroy');
    window.$(sparkline).empty();
  });
</script>

<div bind:this={sparkline}>
</div>