<div ref:sparkline>
</div>

<script>
    import { observe } from 'svelte-extras';

    export default {
        data() {
            return { 
                value: null,
                options: {
                    type: 'pie',
                    sliceColors: ['#f7af3e', '#404652']
                }
            }
        },
        oncreate() {
            const element = this.refs.sparkline;
            this.observe('value', value => {
                this.load(element, value, this.get().options);
            });
            const {value, options} = this.get();
            this.load(element, value, options);
        },
        methods: {
            observe,
            load(element, value, options) {
                $(element).sparkline(value, options);
            }			
		},
        ondestroy: function () {
            $(this.refs.sparkline).sparkline('destroy');
            $(this.refs.sparkline).empty();
        },
    }
</script>