<div class="form-group"><label for={uuid} class="col-sm-3 control-label">{label}</label>
    <div class="col-sm-2">
        <input type="text" class="form-control {inputClass}" bind:value="stateCode"/>
    </div>
    <div class="col-sm-2">
        <label class="control-label pull-right">Zip</label>
    </div>
    <div class="col-sm-5">
        <input type="text" class="form-control {inputClass}" id={uuid} placeholder={placeholder} bind:value="zipPostalCode"/>
    </div>
</div>

<script>
    import { makeUniqueId } from '../utils'

    export default {
        data() {
            return { 
                uuid: makeUniqueId(),
                placeholder: '00000',
                stateCode: '',
                zipPostalCode: '',
                label: '',
                inputClass: 'col-xs-6',
            }
        }
    }
</script>