<script>
    import { onMount } from 'svelte';

    export let icon = '';
    export let title = '';
    export let className = '';
    export let count = '';
    export let percentColor = '';
    export let sort = '';
    export let percent = 0;
    export let text = '';

    onMount(() => {
        percentColor = sort == 'desc' ? 'red' : 'green';        
    });
</script>

<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-{icon}"></i> {title}</span>
    <div class="count {className}">{count}</div>
    <span class="count_bottom">
        <i class={percentColor}>
        {#if sort}
            <i class="fa fa-sort-{sort}"></i>
        {/if}    
        {percent}% </i> {text}
    </span>
</div>