<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
    <span class="count_top"><i class="fa fa-{icon}"></i> {title}</span>
    <div class="count {class}">{count}</div>
    <span class="count_bottom">
        <i class={percentColor}>
        {#if sort}
            <i class="fa fa-sort-{sort}"></i>
        {/if}    
        {percent}% </i> {text}
    </span>
</div>

<script>
    export default {
        data() {
            return {
                icon: '',
                title: '',
                count: '',
                class: '',
                sort: '',
                percent: 0,
                percentColor: '',
                text: ''
            }
        },
        oncreate() {
            const {sort} = this.get();
            this.set({percentColor: sort == 'desc' ? 'red' : 'green'});        
        }
    };
</script>