{{#if visible}}
<div class="col-{{col}}">
    <div class="view-header">
        <div class="pull-right text-right" style="line-height: 14px">
            {{{viewPath}}}
        </div>
        <div class="header-icon">
            <i class="fa fa-{{icon}}"></i>
        </div>
        <div class="header-title">
            <h3>{{title}}</h3>
            <small>
                {{description}}
            </small>
        </div>
    </div>
    <hr>
</div>
{{/if}}

<script>
    export default {
        data () {
            return {
                col: 'lg-12',
                title: '',
                viewPath: '',
                icon: '',
                description: '',
                visible: true,
            }
        },
        oncreate() {

        },
        methods: {
            handleUpdate (data) {                
                if (!data){
                    this.set({visible: false});
                }                
                else {
                    data.visible = true;
                    this.set(data);
                }
                console.log('handleUpdate', data);
            }
        }
    }
</script>