{#if !hidden}
<div class="col-{col}">
    <div class="view-header">
        <div class="pull-right text-right" style="line-height: 14px">
            {@html viewPath}
        </div>
        <div class="header-icon">
            <i class="fa fa-{icon}"></i>
        </div>
        <div class="header-title">
            <h3>{title}</h3>
            <small>
                {description}
            </small>
        </div>
    </div>
    <hr>
</div>
{/if}

<script>
    export default {
        data () {
            return {
                col: 'lg-12',
                title: '',
                viewPath: '',
                icon: '',
                description: '',
                hidden: false,
            }
        },
        oncreate() {

        },
        methods: {
            handleUpdate (data) {                
                // if (!data){
                //     this.set({hidden: false});
                // }                
                // else {
                //     data.hidden = true;
                //     this.set(data);
                // }
                // console.log('handleUpdate', data);
            }
        }
    }
</script>